.*.swp
Makefile
lqr/Makefile
*/.deps
*/.libs
*/*.l[oa]
*/*.[oa]
autom4te.cache
config.h
config.log
config.status
config.guess
libtool
lqr-1.pc
stamp-h1
examples/*.png
examples/*.vmap
examples/*.vmp
examples/liquidrescale
examples/liquidrescale-basic
experiments/*
