.*.swp
Makefile
!docs/Makefile
!examples/Makefile
docs/html
docs/man3
docs/liblqr_manual.html
docs/liblqr_manual_onepage.html
*/.deps
*/.libs
*/*.l[oa]
*/*.[oa]
autom4te.cache
config.h
config.log
config.status
libtool
lqr-1.pc
stamp-h1
examples/*.png
examples/*.vmap
examples/*.vmp
examples/liquidrescale
examples/liquidrescale-basic
experiments/*
lqr/tags
